In [9]:
import pandas as pd

df = pd.read_csv('sales.csv')

# Print unique branch names
print("Unique branch names:", df['branch'].unique())

# Print unique years
print("Unique years:", df['year'].unique())

print("Unique Months:", df['month'].unique())

Unique branch names: ['Lakeshore' 'Sunset Boulevard' 'Greenfield' 'West End' 'Riverside'
 'Eastside' 'Hilltop' 'Downtown' 'Uptown' 'Central Park']
Unique years: [2023 2024 2022]
Unique Months: ['February' 'June' 'May' 'July' 'October' 'August' 'November' 'March'
 'December' 'January' 'April' 'September']

In [11]:
# Average sales by branch
avg_sales_branch = df.groupby('branch')['sales'].mean()
print("Average sales by branch:\n", avg_sales_branch)

# Average sales by month
avg_sales_month = df.groupby('month')['sales'].mean()
print("\nAverage sales by month:\n", avg_sales_month)

Average sales by branch:
 branch
Central Park        5471.136364
Downtown            5409.366071
Eastside            5342.270833
Greenfield          5383.285714
Hilltop             5612.683761
Lakeshore           5627.762376
Riverside           5721.222222
Sunset Boulevard    4979.322917
Uptown              5507.867257
West End            5413.582524
Name: sales, dtype: float64

Average sales by month:
 month
April        5382.870130
August       5343.767123
December     5540.830000
February     5330.814286
January      5661.835443
July         5368.367347
June         5409.623529
March        5532.978022
May          5378.614286
November     5398.266667
October      5463.126316
September    5562.500000
Name: sales, dtype: float64

In [8]:

# Average sales by year
avg_sales_year = df.groupby('year')['sales'].mean()
print("\nAverage sales by year:\n", avg_sales_year)

# Average sales by month and year
avg_sales_month_year = df.groupby(['year', 'month'])['sales'].mean()
print("\nAverage sales by month and year:\n", avg_sales_month_year)

Average sales by year:
 year
2022    5494.886228
2023    5540.549206
2024    5327.062678
Name: sales, dtype: float64

Average sales by month and year:
 year  month
2022  April        6135.736842
      August       5862.478261
      December     5804.962963
      February     5356.136364
      January      5467.760000
      July         5790.081081
      June         4842.233333
      March        5781.529412
      May          5510.083333
      November     5105.878788
      October      5239.060606
      September    5293.185185
2023  April        4924.896552
      August       5929.560000
      December     5114.482759
      February     4755.333333
      January      5597.666667
      July         5380.950000
      June         5967.320000
      March        5946.833333
      May          5454.631579
      November     6449.800000
      October      5712.363636
      September    5614.478261
2024  April        5347.586207
      August       4280.760000
      December     5659.750000
      February     5883.083333
      January      5874.900000
      July         4601.380952
      June         5512.266667
      March        4975.909091
      May          5208.259259
      November     5090.648649
      October      5434.482759
      September    5838.681818
Name: sales, dtype: float64